body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Audiowide', sans-serif;
  }
  
  body {
    background-color: #f4f4f4;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 36px;
    background-color: #281f79;
    color: #fff;
  }

  .logo {
    color: #ffb4e5;
    font-family: 'Audiowide', sans-serif;
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke: 1px rgba(210, 92, 185, 0.9);
    text-align: center;
    text-shadow: 0px 0px 4px rgba(210, 92, 185, 0.9);
  }
  
  .navbar .logo {
    
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ff6600;
  }
  