<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=devide-width, initial-scale=1.0">
	<title>ft_PONG</title>
</head>
<style>
	body {
		text-align: center;
		background-color: ghostwhite;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		flex-direction: column;
		position: fixed;
		width: 100%;
	}
</style>
<body>
	<h1>ft_PONG</h1>
	<canvas></canvas>
	<div id="game-data"
		data-status="{{ status }}"
        data-room-id="{{ room_id }}"
        data-player1="{{ player1 }}"
        data-player2="{{ player2 }}"
        style="display: none;"></div>
	<p>C'est bon transcendence c fini.</p>

	{% load static %}
	<script>
        const gameDataElement = document.getElementById('game-data');
        const gameData = {
            roomId: gameDataElement.dataset.roomId,
            player1: gameDataElement.dataset.player1,
            player2: gameDataElement.dataset.player2,
            playerId: gameDataElement.dataset.playerId
        };
        const script = document.createElement('script');
        script.src = "{% static 'js/drawGame.js' %}";
        script.defer = true;
        document.body.appendChild(script);
        script.onload = function() {
                startGame(gameData);
        };
    </script>
</body>
</html>